# dict 
1. dict is collection of items enclosed by {} - item is a key:value pair

In [1]:
info={"name":"aasish","salary":10000.25,"address":"hyderabad","age":25}
print(info)
print(type(info))

{'name': 'aasish', 'salary': 10000.25, 'address': 'hyderabad', 'age': 25}
<class 'dict'>

In [3]:
# read data and update data from dict
info={"name":"shiva","salary":10000.25,"address":"hyderabad","age":25}
print(info)
print(info["address"])

{'name': 'shiva', 'salary': 10000.25, 'address': 'hyderabad', 'age': 25}
hyderabad

In [4]:
info={"name":"aasish","salary":10000.25,"address":"hyderabad","age":25}
print(info)
info["address"]="banglore"
print(info)

{'name': 'aasish', 'salary': 10000.25, 'address': 'hyderabad', 'age': 25}
{'name': 'aasish', 'salary': 10000.25, 'address': 'banglore', 'age': 25}

In [5]:
#methods or functions in dict

print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [6]:
info={"name":"aasish","salary":10000.25,"address":"hyderabad","age":25}
print(info)
print(info.keys())
print(info.values())
print(info.items())

{'name': 'aasish', 'salary': 10000.25, 'address': 'hyderabad', 'age': 25}
dict_keys(['name', 'salary', 'address', 'age'])
dict_values(['aasish', 10000.25, 'hyderabad', 25])
dict_items([('name', 'aasish'), ('salary', 10000.25), ('address', 'hyderabad'), ('age', 25)])

In [2]:
#update()
info={"name":"aasish","salary":10000.25,"address":"hyderabad","age":25}
print(info)
info.update({"salary":100000.50})
print(info)

{'name': 'aasish', 'salary': 10000.25, 'address': 'hyderabad', 'age': 25}
{'name': 'aasish', 'salary': 100000.5, 'address': 'hyderabad', 'age': 25}

In [3]:
#pop()
info={"name":"shiva","salary":10000.25,"address":"hyderabad","age":25}
print(info)
info.pop("salary")
print(info)

{'name': 'shiva', 'salary': 10000.25, 'address': 'hyderabad', 'age': 25}
{'name': 'shiva', 'address': 'hyderabad', 'age': 25}

# sets
1. set is a collection of unorder unique elements enclosedd by {}

In [4]:
# create set
a={2,4,1,6,4,5,8,7,}
print(a)
print(type(a))

{1, 2, 4, 5, 6, 7, 8}
<class 'set'>

In [5]:
#methods or functions 
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [10]:
#add 
a={20,30,40}
print(a)
a.add(100)
print(a)

{40, 20, 30}
{40, 100, 20, 30}

In [11]:
#union
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}
c=a.union(b)
print(c)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [6]:
#intersection 
a={1,2,3,4,5,6}
b={4,5,6,7,8,9,}
c=a.intersection(b)
print(c)

{4, 5, 6}

In [9]:
#discard
a={1,2,3,4,5,6}
print(a)
a.discard(6)
print(a)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}