# Iterations in Python 
1. iterations are loops to use work on the repetatative tasks or performances
2. generally iterations are 2 types
3. `for` loop
4. `while` loop

```python - for loop 
for iter_variables in sequence:
    print("for is keywords to start the iterations")
    print("iter_variables is variable to iterate data from sequence")
    print("in is keyboard to validate the sequence is present or not")
    print("sequence is collection like

In [1]:
#write a program to print 1 to 60 numbers using for loops?
for num in range(1,61):
    print (num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60

In [2]:
#write a program a iterate characters from string using for loop?
name="Aasish"
for char in name:
    print(char)

A
a
s
i
s
h

In [4]:
#write aprogram to print even numbers in between 500 to 600 using for loop?
for n in range (500,601):
    if (n%2 == 0):
        print(n,end=",")

500,502,504,506,508,510,512,514,516,518,520,522,524,526,528,530,532,534,536,538,540,542,544,546,548,550,552,554,556,558,560,562,564,566,568,570,572,574,576,578,580,582,584,586,588,590,592,594,596,598,600,

In [6]:
#write a program to print odd numbers in between 100 to 200 using for loop?
for n in range (100,200):
    if (n%2 == 1):
        print(n,end=",")

101,103,105,107,109,111,113,115,117,119,121,123,125,127,129,131,133,135,137,139,141,143,145,147,149,151,153,155,157,159,161,163,165,167,169,171,173,175,177,179,181,183,185,187,189,191,193,195,197,199,

In [7]:
#write aprogram to find the vowels from string using for loop?
name=str(input("please enter your name here:"))
for char in name:
    if(char in "aeiouAEIOU"):
        print(char)

please enter your name here: Aasish

A
a
i

In [8]:
#write a program to find the nonvowels from string using for loop?
name=str(input("please enter your name here:"))
for char in name:
    if(char not in "aeiouAEIOU"):
        print(char)

please enter your name here: Aasish

s
s
h

In [9]:
# write a program to iterate names from list od names 
names = ["shivaji","vikas","aasish"]
for n in names:
    print("my name is:",n)

my name is: shivaji
my name is: vikas
my name is: aasish

#1.write a program to find the sum of all numbers in between 1 to 100 using for loop?